<div class="container mt-3">
    <div class="row">
      <div class="com-md-12">
        <form [formGroup]="todoForm" (ngSubmit)="addTask()">
            <div class="mb-3">
              <input type="text" class="form-control" formControlName="title" placeholder="Task Title">
            </div>
            <div class="mb-3">
              <textarea class="form-control" formControlName="description" placeholder="Task Description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
      </div>
    </div>
</div>
  